
<div class="section has-background-light">

	<div class="tile is-ancestor">
	  <div class="tile is-vertical is-12">
	    <div class="tile">
	      <div class="tile is-parent is-horizontal">
	        <article class="tile box is-child notification">
	          <p class="title is-size-4">About Agatha Christie's Poirot</p>
	          <p class="is-size-7">Agatha Christie's Poirot is a British-produced crime-drama series that originally aired in the UK from 1989-2013.  There are 70 episodes spanning 13 seasons.</p>
	          <br>
	          <p class="is-size-7">Starring David Suchet as the mustachioed, impeccably-dressed Belgian detective, Hercule Poirot uses his "little grey cells" to solve even the most impenetrable mysteries.</p>
	          <br>

	        </article>
	        <article class="tile box is-child notification">
	          <p class="title is-size-4">About this webpage</p>
	          <p class="is-size-7">
	          	This webpage was built using Angular, Node, and the Bulma CSS Framework.  The front-end search you see here connects to a REST-API backend which uses Express & Mongo and contains the JSON-formatted episode data.</p>
	          	<br>
	          <p class="is-size-7">
	          	Check out the code on GitHub:
	          </p>

	          <ul>
	          	<li class="is-offset-1 is-size-7"><fa-icon class="icon is-size-7" [icon]="['fa', 'exchange-alt']">
	          		&nbsp;&nbsp;
		          	</fa-icon><a href="https://github.com/n8k/HPDB_REST_API">REST-API</a></li>
	          	<li class="is-offset-1 is-size-7"><fa-icon class="icon is-size-7" [icon]="['fa', 'code']">
	          		&nbsp;&nbsp;
		          	</fa-icon><a href="https://github.com/n8k/HPDB_Frontend">Front-End</a></li>
	          	<li class="is-offset-1 is-size-7"><fa-icon class="icon is-size-7" [icon]="['fa', 'database']">
	          		&nbsp;&nbsp;
		          	</fa-icon><a href="https://github.com/n8k/Hercule-Poirot-Episode-JSON-Data">JSON-formatted Episode Data</a></li>
	          </ul>
	        </article>
	      </div>
	    </div>
	</div>
</div>

<div class="tile is-parent is-ancestor">
	<article class="tile box is-child notification">
		<p class="title is-size-4">Legal</p>
		<p class="is-size-7">Agatha Christie's Poirot is a copyright © of Agatha Christie Limited</p>
		<p class="is-size-7">Webpage code is copyright © 2018 Nathan Kemppainen.  <a href="">MIT Licence info is here.</a></p>
	</article>
</div>



</div>
