<footer class="footer brand-grey">

	<div class="box brand">

		<div class="control column centered-line">
	 		<p class="icon"><fa-icon class="icon is-size-3" [icon]="['far', 'copyright']"></fa-icon></p>
	 		<p class="is-size-5 column is-11">Agatha Christie's Poirot is a copyright of Agatha Christie Limited</p>
	 	</div>	

		<div class="control column centered-line">
		 	<p class="icon"><fa-icon class="icon is-size-3" [icon]="['fab', 'github-square']"></fa-icon></p>
		 	<p class="is-size-5 column is-11"> Webpage code is <a href="">open-source on GitHub</a></p>
		</div>

	</div>
</footer>