<nav class="navbar brand-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  	<figure
  	class="image is-128x128 is-flex totally-centered"
  	style="margin:2vw;"
  	>
  		<img src="assets/img/logo.png">
  	</figure>	

		<div class="centered-line">
			<div class="column is-marginless is-paddingless">
				<h1 class="column is-size-4-mobile is-size-2-tablet is-size-1-desktop"><strong>Hercule Poirot Episode Database</strong></h1>
				<h2 class="column is-size-7-mobile is-size-6-tablet is-size-5-desktop"><i>Search for your favourite episodes from all 13 seasons of Agatha Christie's Poirot.</i></h2>
			</div>
		</div>

	</div>

</nav>