<div class="column box brand-red">
	<p class="is-size-4 totally-centered">Basic Episode Info</p>
</div>

<div class="column has-background-light">

	<div class="columns totally-centered">

		<div style="padding:1vw" class="field has-addons">
			<label
			class="button is-static is-size-5"
			style="min-width:20vw"
			>Season
			</label>
			<p [formGroup]="basic">
				<input
				style="min-width:48vw"
				class="input is-size-5"
				type="text"
				placeholder="(1-13)"
				formControlName="season"
				#season
				(change)="seasonCheck(season.value)"
			></p>
		</div>
	</div>

	<span class="box brand-red totally-centered" *ngIf="seasonErrMess">
		<p><fa-icon class="icon is-size-6" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
				{{seasonErrMess}}</p>
	</span>

	<div class="columns totally-centered">

		<div style="padding:1vw" class="field has-addons">
			<label
			class="button is-static is-size-5"
			style="min-width:20vw"
			>Episode
			</label>
			<p [formGroup]="basic">
				<input
				style="min-width:48vw"
				class="input is-size-5"
				type="text"
				placeholder="(varies by season)"
				formControlName="episode"
				#episode
				(change)="episodeCheck(season.value, episode.value)"
			></p>
		</div>
	</div>
	
	<span class="box brand-red totally-centered" *ngIf="episodeErrMess">
		<p><fa-icon class="icon is-size-6" [icon]="['fas', 'exclamation-triangle']"></fa-icon>
				{{episodeErrMess}}</p>
	</span>

	<div class="columns totally-centered">

		<div style="padding:1vw" class="field has-addons">
			<label
			class="button is-static is-size-5"
			style="min-width:20vw"
			>Episode Title
			</label>
			<p [formGroup]="basic">
				<input
				style="min-width:48vw"
				class="input is-size-5"
				type="text"
				placeholder="Adventure of... / Murder on..."
				formControlName="title"
				#title
			></p>
		</div>
	</div>

</div>

<br>

<div class="column">
	<div class="column button is-static totally-centered is-size-5">Mood</div>

	<div class="column">
		<div [formGroup]="basic" class="control column centered-line">
			<div *ngFor="let mood of moods">
			<label class="radio column is-size-5">
				<input
				type="radio"
				name="mood"
				id="{{mood.display}}"
				value="{{mood.value}}"
				[formControlName]="'mood'">
				{{mood.display}}
			</label>
			</div>
		</div>
	</div>
</div>

<div class="column">
	<div class="column button is-static totally-centered is-size-5">Main Characters</div>

	<div class="column">
		<div [formGroup]="basic" class="control column centered-line">
			<div *ngFor="let character of mainCharacters">
			<label class="radio column is-size-5">
				<input
				type="checkbox"
				value="{{character.value}}"
				[(ngModel)]="character.checked"
				[formControlName]="character.value"
				[checked]="character.checked"
				>
				{{character.name}}
			</label>
			</div>
		</div>
	</div>
</div>

<br> 