<div class="column is-12 box brand-red">
	<p class="is-size-4 totally-centered">Crime</p>
</div>

<div class="column is-12 has-background-light">

	<div class="columns">
		<div class="column is-6">

			<div class="field has-addons">
				<p class="column button is-static totally-centered is-size-5"> Crime </p>
				<p class="control"><input class="column input is-size-5" type="text" placeholder="Murder, Blackmail"></p>
			</div>

			<div class="field has-addons">
				<p class="column button is-static totally-centered is-size-5"> Perpetrator </p>
				<p class="control"><input class="column input is-size-5" type="text" placeholder="(Name)"></p>
			</div>

			<div class="field has-addons">
				<p class="column button is-static totally-centered is-size-5"> Victim </p>
				<p class="control"><input class="column input is-size-5" type="text" placeholder="(Name)"></p>
			</div>
		</div>

		<div class="column is-6">
			<div class="field has-addons">
				<p class="column button is-static totally-centered is-size-5">Means</p>
				<p class="control"><input class="column input is-size-5" type="text" placeholder="Pistol, Poison, Knife"></p>
			</div>

			<div class="field has-addons">
				<p class="column button is-static totally-centered is-size-5"> Motive </p>
				<p class="control"><input class="column input is-size-5" type="text" placeholder="Greed, Jealousy"></p>
			</div>

			<div class="field has-addons">
				<p class="column button is-static totally-centered is-size-5"> Opportunity </p>
				<p class="control"><input class="column input is-size-5" type="text" placeholder="Posing as, Following"></p>
			</div>
		</div>
	</div>
</div>
<br>