<div class="column box brand-red">
	<p class="is-size-4 totally-centered">Writer</p>
</div>

<div class="column has-background-light">

	<div class="columns is-mobile">
		<div class="column">
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;None</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Andrew Marshall</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Anthony Horowitz</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Bill Craig</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Clive Exton</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;David Pirie</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;David Reid</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;David Renwick</label></p>
		</div>

		<div class="column">
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Douglas Watkinson</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Guy Andrews</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Kevin Elyot</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Mark Gatiss</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Michael Baker</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Nick Dear</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Peter Flannery</label></p>
		</div>

		<div class="column">
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Philomena McDonagh</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Rod Beacham</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Russell Murray</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Stephen Wakelam</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;Stewart Harcourt</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;TR Bowen</label></p>
			<p><label class="radio"><input type="radio" name="writer">&nbsp;&nbsp;William Humble</label></p>
		</div>
	</div>
</div>
<br>