<div class="column box brand-red">
	<p class="is-size-4 totally-centered">Writer</p>
</div>

<div [formGroup]="writer"  class="columns has-background-light">
	<div class="section" style="padding-left: 6vw;">
		<div class="columns is-multiline">
			<div class="column is-one-third" style="padding:0; margin:0;" *ngFor="let w of writers;">
				<div class="" >
				<label class="is-size-5">
				<input
				type="radio" 
				value="{{w.value}}"
				name="writer"
				[formControlName]="'writer'"
				>&nbsp;{{w.value}}</label>
			</div>
		</div>
	</div>
</div>

<br>