<div class="column box brand-red">
	<p class="is-size-4 totally-centered">Director</p>
</div>

<div [formGroup]="director"  class="columns has-background-light">
	<div class="section" style="padding-left: 6vw;">
		<div class="columns is-multiline">
			<div class="column is-one-third" style="padding:0; margin:0;" *ngFor="let d of directors;">
				<div class="" >
				<label class="is-size-5">
				<input
				type="radio" 
				value="{{d.value}}"
				name="director"
				[formControlName]="'director'"
				>&nbsp;{{d.display}}</label>
			</div>
		</div>
	</div>
</div>

<br>