<div class="container is-widescreen">
	<div class="notification">

		<div class="column centered-line">
    form value: {{ mainSearchGroup.value | json }}
		</div>
 
		<form novalidate [formGroup]="mainSearchGroup" (ngSubmit)="onSubmit()">

		<basic-search-component [basic]="mainSearchGroup"></basic-search-component>

		<crime-search-component></crime-search-component>

		<tropes-search-component></tropes-search-component>

		<director-search-component></director-search-component>

		<writer-search-component></writer-search-component>

		<button type="submit">Search</button>

		</form>


	</div>
</div>


